{% extends "base.html" %}

{% block content %}
<div class="row g-0 align-items-center flex-lg-row-reverse min-vh-100">
    <div class="col-lg-6 d-none d-lg-block bg-cover" style="background-image: url('/static/img/login-bg.jpg')"></div>
    <div class="col-lg-6 px-lg-5">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="w-100" style="max-width: 400px;">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="h2 text-center mb-4">Reset Password</h2>
                        <form action="" method="post" autocomplete="off" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                <label class="form-label">{{ form.recovery_code.label }}</label>
                                {{ form.recovery_code(class="form-control", placeholder="Masukkan kode recovery", autocomplete="off") }}
                                {% for error in form.recovery_code.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{ form.password.label }}</label>
                                {{ form.password(class="form-control", placeholder="Password baru", autocomplete="off") }}
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{ form.password2.label }}</label>
                                {{ form.password2(class="form-control", placeholder="Konfirmasi password baru", autocomplete="off") }}
                                {% for error in form.password2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-footer">
                                {{ form.submit(class="btn btn-primary w-100") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center text-secondary mt-3">
                    <a href="{{ url_for('login') }}" tabindex="-1">Kembali ke Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 